{% block _payment_methods_collect_on_delivery_widget %}
    <div class="{{ class_prefix }}-form__payment-methods">
        <table class="grid">
            <tr>
                <td>{{ 'acme.collect_on_delivery.payment_method_message'|trans }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
